#Python
__pycache__/
*.py[cod]

# Environment variables
notebook/twilio_config.py
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Virtual environments
venv/
.venv/
.envrc

# macOS
.DS_Store